* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

header {
  width: 100%;
  background-color: lightgray;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}

h1 a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 3.4rem;
}

nav {
  font-size: 2.4rem;
  height: 100%;
  width: 30rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

.container {
  padding-top: 2rem;
  flex: 1;
}

button:hover {
  cursor: pointer;
}

footer {
  /* height: 8rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0;

  background-color: aliceblue;
}

footer h4 {
  font-size: 2rem;
}

footer p {
  font-size: 1.4rem;
}

/* Shop page styles */

.shopcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catagories {
  display: flex;
  align-items: center;
  height: 4rem;
  gap: 1rem;
}

.catagories button {
  height: 100%;
  padding: 0 2rem;
  border: none;
}

.products-display {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.product-card {
  border: 1px lightblue solid;
  padding: 1rem;

  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.product-card img {
  max-height: 10rem;
  max-width: 10rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
  gap: 1rem;
}

.product-info button {
  border: none;
  font-size: 1.6rem;
  padding: 1rem;
}

.product-info button > a {
  text-decoration: none;
  color: #000;
}

/* Product Page styles */
.product-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.product-page-card {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.product-page-image {
  width: 20rem;
  height: auto;
}

.product-page-title {
  font-size: 4rem;
}

.product-page-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}

.product-page-desc {
  font-size: 1.8rem;
  line-height: 1.4;
}

.product-page-price {
  font-size: 4rem;
  font-weight: bold;
}

.product-page-info button {
  border: none;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2rem;
}

/* CART PAGE STYLES */

.cart-container {
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 4rem;
  padding: 2rem 0;
}

.cart-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.cart-card img {
  max-height: 10rem;
  max-width: 10rem;
}

.cart-card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
  gap: 1rem;
}

.cart-card-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.cart-card-btns button {
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  font-weight: semi-bold;
  border: none;
}

.checkout-btn {
  padding: 1rem 1rem;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
}

.checkout-total {
  font-size: 2rem;
  font-weight: bold;
}
