* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
}

header {
  width: 100%;
  background-color: lightgray;
  height: 6rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
}

h1 a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 3.4rem;
}

nav {
  font-size: 2.4rem;
  height: 100%;
  width: 30rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
}

.container {
  padding: 4rem;
}

/* Shop page styles */

.shopcontainer {
}

.catagories {
  display: flex;
  gap: 2rem;
}

.products-display {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 2rem 0;
}

.product-card {
  border: 1px red solid;
  padding: 1rem;

  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.product-card img {
  max-height: 10rem;
  max-width: 10rem;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: fit-content;
  gap: 1rem;
}

/* @media (max-width:  ) */
